<!DOCTYPE html>

<html>
<head>
	<title>Xmoji</title>
	<link href="https://fonts.googleapis.com/css?family=Lobster|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="../static/css/home.css" rel="stylesheet">
</head>
<body>
		<nav class="navbar navbar-dark navbar-expand-sm fixed-top" style="background-color: black;">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
						<span class="navbar-toggler-icon"></span>
				</button>
				<a class="navbar-brand mr-auto" href="/" style="margin-left:8%; font-family: cursive; font-weight: 400; font-size: 20px;"><b>XMOJI</b></a>
				<div class="collapse navbar-collapse" id="Navbar" >
					<ul class="navbar-nav" style="margin-left: 69%; display: inline;float: right;">
						<li class="nav-item active" style="display: inline-block;float: left;"><a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
						&nbsp;
						<li class="nav-item" style="display: inline-block;float: left;"><a class="nav-link" href="/aboutus"><span class="fa fa-info fa-lg"></span> About Us</a></li>

						<li class="nav-item" style="display: inline-block;float: left;"><a class="nav-link" href="/userlogin"><span class="fa fa-address-card fa-lg"></span> Login</a></li>
						&nbsp;
						<li class="nav-item" style="display: inline-block;float: left;"><a class="nav-link" href="/register"><span class="fa fa-address-card fa-lg"></span> Register</a></li>
					</ul>

				</div>
		</nav>

		<div class="fixed-top" style="background-color: red; top:8%; height: 7px; width: 100%;"></div>
		<!-- <div class="slideshow-container" style="float: left; margin-left: 60px; margin-top: 120px;"> -->
	    <!-- <img src='https://cdn.vox-cdn.com/thumbor/gOwgl6gwIUqpPtBqMPRwSsO5b10=/0x0:1200x700/920x613/filters:focal(504x254:696x446):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/58503673/Untitled.0.jpg' width="85%" height="100%"/> -->
	<div class="container" style="float: left; width: 60%; margin-top: 10px; margin-left: 20px;">
		<center>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="border: 5px solid black;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
			<li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

			<div class="item active">
        <img src="https://github.com/SarathMajji1699/ImagesUpload/blob/main/xmoji-logo.png?raw=true" alt="Logo" style="width:80%; height: 600px;">
        <div class="carousel-caption">
        </div>
      </div>

			<div class="item">
        <img src="https://wwd.com/wp-content/uploads/2018/04/bitmoji.png" alt="Xmoji" style="width:80%; height: 600px;">
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <!-- <img src="https://www.adweek.com/wp-content/uploads/2020/09/AirJordanSnapchatBitmojiHero.jpg" alt="Chicago" style="width:80%; height: 600px;"> -->
				<img src="https://raw.githubusercontent.com/YaswanthKota/emojifypics/main/bitmoji2.png" alt="xmoji" style="width:80%; height: 600px;">
        <div class="carousel-caption">
        </div>
      </div>

      <div class="item">
        <!-- <img src="https://cdn.vox-cdn.com/thumbor/btomiIaz6Vf1EBQx6PEH10htJMY=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/10121441/Untitled.jpg" alt="New York" style="width:80%; height: 600px;"> -->
				<img src="https://raw.githubusercontent.com/YaswanthKota/emojifypics/main/bitmoji3.png" alt="xmoji" style="width:80%; height: 600px;">
				<div class="carousel-caption">
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next" style="position: absolute; left: 755px;">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</center>
</div>


	<div id="text" style="margin-top: 70px; float: left; margin-left: 85px;">

		<h1 style="font-family: 'Comic Sans MS', cursive, sans-serif; font-weight: 200; font-size: 50px; text-align: center;">Welcome to Xmoji </h1><br>
		<p style="font-family: 'Montserrat', sans-serif; font-size: 30px ;text-align: center;">Your Personal Emoji <br><br>	Project by B6</p>
		<p style="font-family: 'Montserrat', sans-serif; font-size: 30px; margin-left: 125px; margin-top: 5px;">Sarath Majji<br>Yaswanth<br>Uday<br>Harsha</p>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
