<html>
  <head>
    <title>Xmoji</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../static/css/picture.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/picture.css') }}">
  </head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top" style="background-color: black;">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
						<span class="navbar-toggler-icon"></span>
				</button>
        <a class="navbar-brand mr-auto" href="/" style="margin-left:8%; font-family: 'Lobster', cursive; font-weight: 400; font-size: 20px;"><b>XMOJI</b></a>

				<div class="collapse navbar-collapse" id="Navbar" >
					<ul class="navbar-nav" style="margin-left: 76%; display: inline;float: right;">
            <li class="nav-item" style="display: inline-block;float: left;"><a class="nav-link" href="/selection"><span class="fa fa-window-minimize"></span>Selection</a></li>
            <li class="nav-item" style="display: inline-block;float: left;"><a class="nav-link active" href="/picture"><span class="fa fa-upload"></span>Upload</a></li>
            <li class="nav-item" style="display: inline-block;float: left;"><a class="nav-link" href="/userlogin"><span class="fa fa-sign-out fa-lg"></span>LogOut</a></li>
					</ul>

				</div>
		</nav>
  <div class="fixed-top" style="background-color: red; top:7%; height: 7px; width: 100%;"></div>
  <center><br><br><br><br><br>
    <h1 align="center">Welcome to Xmoji  {{ user }}  !</h1><br><br><br><br>

      <form action="{{ url_for('upload') }}" id="upload-file" method="post" enctype="multipart/form-data">
      <label for="imageUpload" class="btn btn-primary" style="width: 14%; height: 6%; text-align: center;">
          Upload Image
      </label><br><br><br>
      <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg" onchange="loadFile(event)"><br><br><br>
      <p><img id="output" width="500"  /></p><br><br><br>

      <input type="submit" class="btn btn-info btn-lg " id="btn-predict" value="Predict" style="display: none;"><br><br><br><br><br><br>
  </form>

</center>

<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
  document.getElementById("btn-predict").style.display = "block";
};
</script>
</body>
</html>
